@import "../variables";

$logo-height: 150px;
$gap-size: 40px;

@keyframes scroll-left {
    from {
        transform: translateX(0%);
    }
    to {
        transform: translateX(-50%);
    }
}

@keyframes scroll-right {
    from {
        transform: translateX(-50%);
    }
    to {
        transform: translateX(0%);
    }
}

#clients {
    background-color: var(--background-color-accent);

    .text1 {
        font-size: $font-size-lg;
        font-family: $font-family-accent;
    }

    .logo-content-wrapper {
        overflow: hidden;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        padding: 20px 0;

        mask-image: linear-gradient(to right, rgba(0,0,0,0), rgba(0,0,0,1) 20%, rgba(0,0,0,1) 80%, rgba(0,0,0,0));
        -webkit-mask-image: linear-gradient(to right, rgba(0,0,0,0), rgba(0,0,0,1) 20%, rgba(0,0,0,1) 80%, rgba(0,0,0,0));
    }

    .logo-row {
        display: flex;
        gap: $gap-size;
        width: max-content;
        white-space: nowrap;

        img {
            height: $logo-height;
            object-fit: contain;
            transition: transform 0.3s ease-in-out;
        }

        &::after {
            content: "";
            display: flex;
            gap: $gap-size;
        }
    }

    .row-top {
        animation: scroll-left var(--client-animation-speed) linear infinite;
    }

    .row-bottom {
        animation: scroll-right var(--client-animation-speed) linear infinite;
    }
}
