@import "../variables";
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');

@keyframes marquee {
    0% { transform: translateX(100%); }
    100% { transform: translateX(-100%); }
}


#hero {
    background-color: var(--background-color-dark);

    .image-container {
        display: flex;
        height: 6rem;
        padding-top: 3rem;
    }

    .heading {
        font-size: $font-size-xxl;
        font-family: $font-family-accent;
    }

    .sub-title {
        width: 100%;
        text-align: right;
        font-family: 'Rubik', sans-serif;
        font-size: $font-size-lg;
        margin: 0;

        .focus {
            color: var(--font-color-accent);
        }
    }
}


