// Verbesserte SCSS für den #projects-Abschnitt
@import "../variables";

#projects {
    background: var(--background-color-dark);
    padding: 5rem 0;
    position: relative;

    .heading {
        margin-left:  5rem;
        font-size: $font-size-lg;
        font-family: $font-family-accent;
        color: var(--font-color-accent);
    }

    .swiper-container {
        width: 100%;
        overflow: visible;
        padding-top: 5rem;

        .swiper {
            width: 100%;
            margin: 0 auto;

            .swiper-wrapper {
                display: flex;
                align-items: center;
            }

            .swiper-slide {
                flex: 0 0 auto;
                height: 450px;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                overflow: hidden;

                video {
                    width: 250px;
                    height: 100%;
                    object-fit: cover;
                }

                &.top {
                    .red-box-top {
                        height: 4rem;
                        width: 100%;
                    }

                    .red-box-bottom {
                        display: block;
                        height: 4rem;
                        width: 100%;
                        margin-top: 20px;
                    }
                }

                &.bottom {
                    .red-box-bottom {
                        display: block;
                        height: 8rem;
                        width: 100%;
                        margin-top: 20px;
                    }
                }
            }

            .swiper-button-prev,
            .swiper-button-next {
                color: var(--font-color-accent);
                width: 3rem;
                height: 3rem;
                background: rgba(255,255,255,0.2);
                border-radius: 50%;
                &:after {
                    font-size: 1.5rem;
                }
            }
        }
    }
}
