// Komponenten
@forward "components/buttons";
@forward "components/img";

// Abschnitte
@import "sections/hero";
@import "sections/clients";
@import "sections/about";
@import "sections/services";
@import "sections/team";
@import "sections/form";
@import "sections/contact";
@import "sections/projects";

html, body {
    margin: 0;
    padding: 0;
    overflow-y: auto;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
    height: 100vh;
}

section {
    scroll-snap-align: start;
    color: var(--font-color-light);
    font-family: $font-family-normal;
    cursor: default;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 5rem 4rem;
}

footer {
    background-color: var(--background-color-dark);
    width: 100%;

    .footer-links {
        bottom: 1rem;
        display: flex;
        justify-content: center;
        text-align: center;
        gap: 1rem;
        font-size: 0.875rem;

        a {
            text-decoration: none;
            transition: color 0.3s ease;
            color: transparentize(white,0.6);
            font-weight: normal;
        }
    }
}

/*#pp-nav {
    top: 50%;

    ul {
        list-style: none;
        padding: 0;

        li {
            a {
                width: 8px;
                height: 8px;
                background: white;
                border-radius: 50%;
                display: block;
                margin: 10px auto;
                transition: all 0.3s ease-in-out;

                span {
                    display: none;
                }
            }

            .active {
                transform: scale(2);
                background: white;
            }

            .pp-tooltip {
                color: white;
                font-size: 14px;
                padding: 5px 10px;
                background: rgba(255, 255, 255, 0.2);
                border-radius: 5px;
                transition: all 0.3s ease-in-out;
            }

            &:hover {
                .pp-tooltip, .active ~ .pp-tooltip {
                    font-size: 16px;
                    font-weight: bold;
                    background: white;
                    color: black;
                }
            }
        }
    }
}*/
