@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend&display=swap');

//Colors
//$background-color-dark: #040d12;
//$font-color-light: white;
//$font-color-accent: #e0003b;

//Font Sizes
$font-size-sm: 1rem;
$font-size-md: 2rem;
$font-size-lg: 7rem;
$font-size-xl: 10rem;
$font-size-xxl: 16rem;

//Font Families
$font-family-normal: 'Rubik', sans-serif;
$font-family-accent: 'Lexend', sans-serif;

//Others
$client-logo-animation-speed : 15s;
