@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat&display=swap");
@import "pagepiling.js/dist/jquery.pagepiling.css";
@import "pagepiling.js/dist/jquery.pagepiling.css";
img {
  object-fit: contain;
}

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
#hero.section {
  background-color: #040d12;
}
#hero.section .top-bar-container {
  width: 100%;
  height: fit-content;
}
#hero.section .top-bar-container .top-bar-text {
  display: inline-block;
  animation: marquee 20s linear infinite;
  white-space: nowrap;
  text-transform: uppercase;
  font-size: min(2vw, 2vh);
}
#hero.section .content {
  width: 100vw;
  height: 100%;
}
#hero.section .content .image-container {
  display: flex;
  height: 5vh;
  margin-left: 5vw;
  margin-top: 5vh;
}
#hero.section .content .heading {
  margin-left: 5vw;
  margin-top: 8vh;
  font-size: min(18vw, 36vh);
  font-family: "Caveat", serif;
}
#hero.section .content .sub-title {
  width: 100%;
  text-align: right;
  font-family: "Rubik", sans-serif;
  margin-top: min(2vw, 3vh);
  padding-right: 5vw;
  font-size: min(6vw, 12vh);
}
#hero.section .content .sub-title .focus {
  color: #e0003b;
}

#clients.section {
  background-color: #e0003b;
}
#clients.section .content {
  width: 100%;
  height: 100%;
}
#clients.section .content .text1 {
  margin-left: 6vw;
  margin-top: 10vh;
  font-size: min(7vw, 12vh);
  font-family: "Caveat", serif;
}
#about.section {
  background-color: #040d12;
}
#about.section .content {
  width: 100%;
  height: 100%;
}
#about.section .content .text1 {
  margin-left: 6vw;
  margin-top: 10vh;
  font-size: min(7vw, 12vh);
  font-family: "Caveat", serif;
  color: #e0003b;
}
#about.section .content .text2 {
  width: 100%;
  text-align: right;
  font-family: "Caveat", sans-serif;
  margin-top: min(2vw, 3vh);
  padding-right: 10vw;
  font-size: max(3vw, 5vh);
  color: #e0003b;
}
#about.section .content .box-bottom {
  width: 100%;
  height: fit-content;
  display: flex;
  align-items: end;
  padding: 2vw 6vw;
  gap: 4rem;
}
#about.section .content .box-bottom .text-container {
  flex: 1;
  padding: 4px;
  position: relative;
  height: fit-content;
  margin-bottom: 5vh;
}
#about.section .content .box-bottom .text-container .text3 {
  z-index: 2;
  font-size: min(1.5vw, 3vh);
  padding: 3rem;
  background-color: #040d12;
  font-family: "Rubik", sans-serif;
  text-align: justify;
  margin: 0;
}
#about.section .content .box-bottom .text-container::before,
#about.section .content .box-bottom .text-container::after {
  content: "";
  position: absolute;
  width: 3rem;
  height: 3rem;
  background-color: transparent;
}
#about.section .content .box-bottom .text-container::before {
  top: 0;
  left: 0;
  border-left: 4px solid white;
  border-top: 4px solid white;
}
#about.section .content .box-bottom .text-container::after {
  bottom: 0;
  right: 0;
  border-right: 4px solid white;
  border-bottom: 4px solid white;
}
#about.section .content .box-bottom .image-container {
  margin-top: 6vw;
  display: flex;
  height: 20rem;
}
#about.section .red-box {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 25vh;
  width: 25vh;
  background-color: #e0003b;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

#pagepiling {
  position: relative;
  width: 100%;
  height: 100vh;
}

.section {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  color: white;
}

.snap-section {
  width: 100vw;
  height: 100vh;
}

#pp-nav {
  top: 50%;
}
#pp-nav ul {
  list-style: none;
  padding: 0;
}
#pp-nav ul li a {
  width: 8px;
  height: 8px;
  background: white;
  border-radius: 50%;
  display: block;
  margin: 10px auto;
  transition: all 0.3s ease-in-out;
}
#pp-nav ul li a span {
  display: none;
}
#pp-nav ul li .active {
  transform: scale(2);
  background: white;
}
#pp-nav ul li .pp-tooltip {
  color: white;
  font-size: 14px;
  padding: 5px 10px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
}
#pp-nav ul li:hover .pp-tooltip, #pp-nav ul li:hover .active ~ .pp-tooltip {
  font-size: 16px;
  font-weight: bold;
  background: white;
  color: black;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

/*# sourceMappingURL=app.css.map */
